* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  background-repeat: no-repeat;
}

nav {
  z-index: 1; 
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#000000
}

nav .logo {
  height: 60px; 
  width: 60px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  padding: 10px;
  text-decoration: none;
  color: white;
 
  letter-spacing: 2px;
  position: relative;
}

nav ul li a:hover {
  color: #ffffff;
}

nav ul li a::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0;
  right: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

body{
    background-color: #381414;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    position: relative;
    padding: 10px;
}

.container .song-info{
    background-color: #2c3075;
    margin: 0 15px;
    padding: 15px 15px 5px 150px;
    border-radius: 15px 15px 0 0;
}

.container .song-info .song-name{
    color: #f7f0f0;
    font-size: 14px;
    margin: 3px 0 20px;
}

.container .song-info .artist-name{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.container .song-info .progress-bar{
    background-color: #505050;
    border-radius: 20px;
    cursor: pointer;
}

.container .song-info .progress-bar .fill-bar{
    width: 0;
    height: 6px;
    border-radius: 20px;
    background: #1db954;
}

.container .song-info .time{
    font-size: 15px;
    color: #f5eeee;
    margin: 10px 0;
}

.container .disk{
    max-width: 150px;
}

.container .disk .active{
    animation: rotate 3s linear 0s infinite forwards;
}

.container .disk .cover{
    width: 145px;
    height: 145px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    border: 3px solid #f9f8fa;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.container .disk .circle{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 15%;
    top: 29%;
   
    z-index: 1;
    border-radius: 50%;
}

.container .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #4b4d44;
    width: 450px;
    height: 100px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.container .controls #play{
    background-color: #1db954;
    color: #fff;
    padding: 15px 17px 14px 18px;
    font-size: 28px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.container .controls #play:hover{
    background: #189945;
}

.container .controls i{
    padding: 30px 8px;
    font-size: 35px;
    cursor: pointer;
    color: #919191;
    transition: all 0.3s ease;
}

.container .controls i:hover{
    color: #fff;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
 
.end{
  color: #fff;
  text-align: center;
 

  text-align: center;
}



.foot{
  margin-bottom: -100px;
  margin-top: 40px;
}

.footer-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;   
}



